<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
       layout:decorator="base">
<head>
 <meta charset="utf-8">
    <div layout:fragment="style"><link type="text/css" rel="stylesheet"
                                       href="/css/dist/view/view.min.css"></div>
</head>
<body>
<div layout:fragment="content" class="main">

    <div class="datasource-content container">
        <div class="row">
            <div class="new-datasource-form">
                <h4>上传 CSV文件， 只支持utf-8编码 </h4>
        <form action="/datasources/upload" method="POST" enctype="multipart/form-data" >
            <input type="hidden" name="type" value="CSV">
           <div class="form-group">
               <label for="name">名字: </label>
               <input name="name" class="form-control">
           </div>
            <div class="form-group">
                <label for="content">文件: </label>
                <input name="content" class="form-control" type="file">
            </div>
            <div class="form-group">
                <label for="description">描述</label>
                <textarea class="form-control" name="description" rows="10"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">提交</button>
            </div>
        </form>
                </div>
            </div>
    </div>
</div>
</body>
</html>