<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
       layout:decorator="base">
<head>

    <div layout:fragment="style"><link type="text/css" rel="stylesheet"
                                       href="/css/dist/view/view.min.css"></div>
</head>
<body>
<div layout:fragment="content" class="main">

    <div class="datasource-content container-fluid">
       <div class="row" >
           <div class="col-lg-4">
        <ul class="new-datasource-list">
            <li>
                <a href="new/csv">
                    <img src="/img/new_csv.png" width="70px">
                    <span>CSV</span>
                </a>
            </li>

            <li>
                <a href="new/nifi">
                    <img src="/img/new_nifi.png">
                    <span>Nifi</span>
                </a>
            </li>
        </ul>
               </div>
           </div>
    </div>
</div>
</body>
</html>