<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background:url('/img/back-tile.gif');
                background-color:#ececec;
                font-family:'Arial';
                box-shadow: 0 0 10px #888 inset;
                padding: 20px;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <div th:switch="${type}">
        	<img src="/img/inline-frame.png" width="100px;" th:case="'frame'"/>
        	<img src="/img/image-sample.png" width="100px;" th:case="'image'"/>
        </div>
        <div style="display:inline-block;font-weight:bold;vertical-align:top;width:250px;margin-left:20px;">
            <p>
                <em>Replace this content by editing its URL or selecting a new URL from a datasource.</em>
            </p>
        </div>
    </body>
</html>