<!DOCTYPE html>
<html class="capture">
    <header>
        <link type="text/css" rel="stylesheet"
              href="/css/common/bootstrap.min.css">
        <link type="text/css" rel="stylesheet"
              href="/css/common/font-awesome.min.css">
        <link type="text/css" rel="stylesheet"
              href="/css/common/jquery-ui.min.css">
        <link type="text/css" rel="stylesheet"
              href="/css/dist/view/view.min.css">
    </header>
    <body>
    <div id="container" ng-controller="singleController">
    <input type="hidden" th:value="${id}" id="widget_id"/>
     <x-widget-container component="component"></x-widget-container>
    </div>
   
   <script type="text/javascript" src="/js/common/jquery.min.js"></script>
	<script type="text/javascript" src="/js/common/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/common/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="/js/common/underscore-min.js"></script>
	<script type="text/javascript" src="/js/common/underscore.string.min.js"></script>
	<script type="text/javascript" src="/js/common/angular.js"></script>
	<script type="text/javascript" src="/js/common/angular-animate.js"></script>
	<script type="text/javascript" src="/js/common/angular-sanitize.js"></script>
	<script type="text/javascript" src="/js/common/ui-bootstrap.js"></script>
	<script type="text/javascript" src="/js/common/ui-bootstrap-tpls.js"></script>
	<script type="text/javascript" src="/js/common/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/common/highstock.js"></script>
	<script type="text/javascript" src="/js/common/highcharts-more.js"></script>
	<script type="text/javascript" src="/js/common/highcharts-solidgauge.js"></script>
	<script type="text/javascript" src="/js/common/post_wrapper.js"></script>
	<script type="text/javascript" src="/js/dist/view/app.js"></script>
    <script>
        _.mixin(s.exports());
        angular.element(document).ready(
                function() {
                    angular.bootstrap(document.getElementById("container"),
                            [ 'dashboard' ]);
                })
    </script>
    </body>
</html>