<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		 <meta charset="utf-8">
		<link type="text/css" rel="stylesheet" href="/css/common/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="/css/common/font-awesome.min.css">
		<link type="text/css" rel="stylesheet" href="/css/common/jquery-ui.min.css">
		<div layout:fragment="style">
    		Header
		</div>
	</head>
	<body>
		<div class="header-container">
		<div class="header">
			<div class="menu left">
				<a id="logo" href="/">
					<img src="/img/logo_zjh.png">
					<span class="font-lobster">WidgetBoard</span>
				</a>
			</div>
			<div class="ctrl right" th:if="${#authorization.expression('isAuthenticated()')}">
				<ul class="add-widget-btn">
					<li><span class="dropdown">
							<button class="ctrl-dropdown dropdown-toggle" type="button"
								id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="true">
								<i class="glyphicon glyphicon-plus"></i>
							</button>
							<ul class="dropdown-menu dropdown-menu-right bs"
								aria-labelledby="dropdownMenu1">
								<li><a href="/widget/new?is_canvas=false">普通  </a>
								</li>
								<li><a href="/widget/new?is_canvas=true">画布 </a>
								</li>
							</ul>
					</span></li>

					<li>
						<a href="/widget/scroll">
						<span class="glyphicon glyphicon-play"></span>
							</a>
					</li>
				</ul>
				<ul class="setup-btn">
					<li><span class="dropdown">
							<button class="ctrl-dropdown dropdown-toggle" type="button"
								id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="true">
								<i class="glyphicon glyphicon-cog"></i>
							</button>
							<ul class="dropdown-menu dropdown-menu-right bs"
								aria-labelledby="dropdownMenu1">
								<li><a href="/datasources/">数据源  </a>
								</li>
							<!--
								<li><a href="#">账户  Account</a>
								</li>
								<li role="separator" class="divider"></li>
								<li><a href="#">帮助  Help</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">注销  Logout</a></li>    -->
							</ul>
					</span></li>
				</ul>

				<div  class='logout' th:if="${#authorization.expression('isAuthenticated()')}" style="display:inline-block">
					<a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
						<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
					</a>
					<form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
				</div>
			</div>
		</div>
	</div>

		<div layout:fragment="content"></div>
		<script type="text/javascript" src="/js/common/jquery.min.js"></script>
		<script type="text/javascript" src="/js/common/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/js/common/jquery.nicescroll.min.js"></script>
		<script type="text/javascript" src="/js/common/underscore-min.js"></script>
		<script type="text/javascript" src="/js/common/underscore.string.min.js"></script>
		<script type="text/javascript" src="/js/common/angular.js"></script>
		<script type="text/javascript" src="/js/common/angular-animate.js"></script>
		<script type="text/javascript" src="/js/common/angular-sanitize.js"></script>
		<script type="text/javascript" src="/js/common/ui-bootstrap.js"></script>
		<script type="text/javascript" src="/js/common/ui-bootstrap-tpls.js"></script>
		<script type="text/javascript" src="/js/common/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/common/highstock.js"></script>
		<script type="text/javascript" src="/js/common/highcharts-more.js"></script>
		<script type="text/javascript" src="/js/common/highcharts-solidgauge.js"></script>
		<div layout:fragment="script"></div>
	</body>
</html>