<div class="main" layout:decorator="layout" layout:fragment="content">

    <section id='section1' >
        <div class="hero">
            <div class='hero-title'>
                Sense the world
                <br/>
                in 3D
            </div>
            <div class="hero-subtitle">ZED  captures a large-scale 3D map of your environment and understands how you move through space.</div>
        </div>
    </section>
    <section id='section2'>
        <div class="hero">
            <div class='hero-title'>
                Another Text #2</br> Here
            </div>
            <div class="hero-subtitle">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
        </div>
    </section>
    <section id='section3'>
        <div class="hero hero2">
            <div class='hero-title'>
                Another Text #3</br> Here
            </div>
            <div class="hero-subtitle">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
        </div>
    </section>
    <section id='section4'></section>
</div>
