<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
    <meta http-equiv="X-Set-CSRFToken" content="{{csrf_token_value}}"></meta>

    <link rel="stylesheet" type="text/css" href="/css/common/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/common/normalize.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/common/font-awesome.css"></link>
    <link rel="stylesheet" type="text/less" href="/css/common/common.less"></link>
    <link rel="stylesheet" type="text/less" href="/css/common/layout.less"></link>

  </head>
  <body>
  	<div class="header" layout:fragment="header">header</div>
  	<div class="content" layout:fragment="content">content</div>
    <div class="footer" layout:fragment="footer">footer</div>
  </body>
</html>
